RewriteEngine On
RewriteRule ^home$ index.php [L]
RewriteRule ^view$ view_books.php [L]
RewriteRule ^read$ reading_books.php [L]
RewriteRule ^restricted_area$ security.php [L]
RewriteRule ^edit$ edit_book.php [L]
RewriteRule ^add$ add_book.php [L]
RewriteRule ^notes$ notes.php [L]
RewriteRule ^add_note$ notes.php [L]
RewriteRule ^view_notes$ view_notes.php [L]
